In [1]:
from google.cloud import bigquery

In [2]:
%load_ext google.cloud.bigquery

/home/hyu424/p8_hyu424/venv/lib/python3.12/site-packages/google/cloud/bigquery/__init__.py:237: FutureWarning: %load_ext google.cloud.bigquery is deprecated. Install bigquery-magics package and use `%load_ext bigquery_magics`, instead.
  warnings.warn(

In [3]:
%%bigquery df_1 --project cs544p8-444019
SELECT geo_id
FROM bigquery-public-data.geo_us_boundaries.counties
WHERE county_name='Dane'

Query is running:   0%|          |

Downloading:   0%|          |

In [4]:
#q1
ans1 = df_1.iat[0, 0]  
ans1

'55025'

In [5]:
%%bigquery df_2 --project cs544p8-444019
SELECT state_fips_code, COUNT(geo_id) AS counts
FROM bigquery-public-data.geo_us_boundaries.counties
GROUP BY state_fips_code
ORDER BY counts DESC
LIMIT 5

Query is running:   0%|          |

Downloading:   0%|          |

In [6]:
#q2
df_2 = df_2.set_index("state_fips_code")
result_dict_2 = df_2['counts'].to_dict()
result_dict_2

{'48': 254, '13': 159, '51': 133, '21': 120, '29': 115}

In [7]:
no_cache_dry = bigquery.QueryJobConfig(use_query_cache=False)
bq = bigquery.Client("cs544p8-444019")
q1 = bq.query("""
SELECT geo_id
FROM bigquery-public-data.geo_us_boundaries.counties
WHERE county_name='Dane'
""", job_config=no_cache_dry)

result_q1=q1.total_bytes_billed / 1024**2

q2=bq.query("""
SELECT state_fips_code, COUNT(geo_id) AS counts
FROM bigquery-public-data.geo_us_boundaries.counties
GROUP BY state_fips_code
ORDER BY counts DESC
LIMIT 5
""", job_config=no_cache_dry)

result_q2=q2.total_bytes_billed / 1024**2

/home/hyu424/p8_hyu424/venv/lib/python3.12/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [8]:
#q3
result_q3 = {
    "q1": f"{int(result_q1)} MB",
    "q2": f"{int(result_q2)} MB"
}
result_q3

{'q1': '10 MB', 'q2': '10 MB'}

In [9]:
bq = bigquery.Client("cs544p8-444019")
ds= bigquery.Dataset("cs544p8-444019.p8")
bq.create_dataset(ds, exists_ok=True)

/home/hyu424/p8_hyu424/venv/lib/python3.12/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

Dataset(DatasetReference('cs544p8-444019', 'p8'))

In [10]:
config = bigquery.ExternalConfig(source_format="PARQUET")
config.source_uris = ["gs://cs544_p8_1688/hdma-wi-2021.parquet"]
# config.autodetect = True
table = bigquery.Table("cs544p8-444019.p8.hdma")
table.external_data_configuration = config
bq.create_table(table, exists_ok=True)

Table(TableReference(DatasetReference('cs544p8-444019', 'p8'), 'hdma'))

In [11]:
#q4
datasets=[]
for ds in bq.list_datasets("cs544p8-444019"):
    datasets.append(ds.dataset_id)
datasets

['p8']

In [12]:
q=bq.query("""
SELECT c.county_name AS county_name, COUNT(h.index) AS application_count 
FROM p8.hdma as h
JOIN bigquery-public-data.geo_us_boundaries.counties AS c
ON h.county_code=c.county_fips_code
GROUP BY c.county_name
ORDER BY application_count DESC
LIMIT 10
""")

In [13]:
df_5=q.to_dataframe()
df_5

  county_name  application_count
0   Milwaukee              46570
1        Dane              38557
2    Waukesha              34159
3       Brown              15615
4      Racine              13007
5   Outagamie              11523
6     Kenosha              10744
7  Washington              10726
8        Rock               9834
9   Winnebago               9310

In [14]:
#q5
df_5=df_5.set_index('county_name')
result_5=df_5['application_count'].to_dict()
result_5

{'Milwaukee': 46570,
 'Dane': 38557,
 'Waukesha': 34159,
 'Brown': 15615,
 'Racine': 13007,
 'Outagamie': 11523,
 'Kenosha': 10744,
 'Washington': 10726,
 'Rock': 9834,
 'Winnebago': 9310}

In [15]:
config = bigquery.ExternalConfig("GOOGLE_SHEETS")
config.source_uris = ["https://docs.google.com/spreadsheets/d/13e14LzDDm9U4y2KddlKFAy7exNdbo1OwJa-OTe4ywiw"]
config.autodetect = True
table = bigquery.Table("cs544p8-444019.p8.applications")
table.external_data_configuration = config
bq.create_table(table, exists_ok=True)

Table(TableReference(DatasetReference('cs544p8-444019', 'p8'), 'applications'))

In [16]:
q=bq.query("""
SELECT Count(income) AS counts
FROM p8.applications
WHERE income=100000
""")

In [17]:
#q6
df_6=q.to_dataframe()
int(df_6.iat[0,0])

38

In [18]:
%%bigquery --project cs544p8-444019

CREATE OR REPLACE MODEL p8.lr
OPTIONS(model_type="LINEAR_REG",INPUT_LABEL_COLS=["loan_amount"],DATA_SPLIT_METHOD="NO_SPLIT")

AS

SELECT income,loan_amount
FROM p8.applications

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [19]:
%%bigquery --project cs544p8-444019
SELECT *
FROM ML.WEIGHTS(MODEL p8.lr)

Query is running:   0%|          |

Downloading:   0%|          |

  processed_input        weight category_weights
0          income  1.683795e+00               []
1   __INTERCEPT__  2.160742e+06               []

In [20]:
%%bigquery df_ml--project cs544p8-444019
SELECT *
FROM ML.EVALUATE(MODEL p8.lr,(
    SELECT income,loan_amount
    FROM p8.applications 
))

Query is running:   0%|          |

Downloading:   0%|          |

In [21]:
#q7
float(df_ml["r2_score"][0])

0.029894938525245718

In [22]:
%%bigquery --project cs544p8-444019
CREATE OR REPLACE TABLE cs544p8-444019.p8.houses
AS
SELECT ST_GEOGPOINT(longitude, latitude) AS loc, applications.*
FROM cs544p8-444019.p8.applications

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [23]:
%%bigquery df_7--project cs544p8-444019
SELECT ST_DISTANCE(houses.loc, ST_GEOGPOINT(-89.384107, 43.074715)) AS meter, houses.*
FROM cs544p8-444019.p8.houses
ORDER BY meter ASC
LIMIT 1

Query is running:   0%|          |

Downloading:   0%|          |

In [24]:
#q8
float(df_7.at[0,"meter"])

0.0

In [25]:
%%bigquery --project cs544p8-444019
CREATE OR REPLACE TABLE cs544p8-444019.p8.wi
AS
SELECT county_name, county_geom
FROM bigquery-public-data.geo_us_boundaries.counties
WHERE state_fips_code = '55'

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [26]:
df_9 = bq.query("""
SELECT wi.county_name, COUNT(*) as counts
FROM cs544p8-444019.p8.houses
CROSS JOIN cs544p8-444019.p8.wi
WHERE ST_Within(houses.loc, wi.county_geom)
GROUP BY wi.county_name
""").to_dataframe()
df_9

    county_name  counts
0          Dane      60
1     St. Croix       2
2          Door       8
3      Bayfield       2
4        Oneida       2
5      Waushara       1
6         Brown       3
7     Jefferson       4
8   Fond du Lac       2
9     Milwaukee       7
10      Shawano       2
11       Taylor       1
12       Juneau       2
13       Barron       1
14     Waukesha       1
15        Vilas       1
16        Price       2
17       Oconto       1
18         Wood       1
19     Columbia       1
20      Douglas       1
21       Forest       1
22    Marinette       3
23         Iowa       1
24        Green       1
25    Winnebago       1
26     Walworth       1
27      Ashland       1
28       Sawyer       1
29         Rock       1
30         Sauk       1

In [27]:
#q9
df_9.set_index("county_name")['counts'].to_dict()

{'Dane': 60,
 'St. Croix': 2,
 'Door': 8,
 'Bayfield': 2,
 'Oneida': 2,
 'Waushara': 1,
 'Brown': 3,
 'Jefferson': 4,
 'Fond du Lac': 2,
 'Milwaukee': 7,
 'Shawano': 2,
 'Taylor': 1,
 'Juneau': 2,
 'Barron': 1,
 'Waukesha': 1,
 'Vilas': 1,
 'Price': 2,
 'Oconto': 1,
 'Wood': 1,
 'Columbia': 1,
 'Douglas': 1,
 'Forest': 1,
 'Marinette': 3,
 'Iowa': 1,
 'Green': 1,
 'Winnebago': 1,
 'Walworth': 1,
 'Ashland': 1,
 'Sawyer': 1,
 'Rock': 1,
 'Sauk': 1}

In [28]:
df_10 = bq.query("""
SELECT *
FROM
(SELECT county, neighbors
FROM bigquery-public-data.geo_us_boundaries.adjacent_counties
WHERE state = 'Wisconsin') wi_neighbors
WHERE "Dane" IN UNNEST(neighbors)
""").to_dataframe()
df_10

             county                                          neighbors
0       Rock County  [Walworth, Winnebago, Boone, Green, Jefferson,...
1      Green County  [Lafayette, Rock, Iowa, Stephenson, Dane, Winn...
2  Jefferson County            [Dodge, Rock, Walworth, Dane, Waukesha]
3       Iowa County    [Lafayette, Green, Sauk, Richland, Dane, Grant]
4       Sauk County   [Iowa, Richland, Vernon, Dane, Juneau, Columbia]
5   Columbia County  [Juneau, Dodge, Sauk, Marquette, Dane, Green L...
6      Dodge County  [Fond du Lac, Jefferson, Green Lake, Dane, Wau...

In [29]:

df_10=df_10.sort_values(by='county', ascending=True)
df_10=df_10['county'].to_list()
df_10=[name.replace(" County", "") for name in df_10]
df_10

['Columbia', 'Dodge', 'Green', 'Iowa', 'Jefferson', 'Rock', 'Sauk']

In [30]:
#q10
[name.replace(" ", "") for name in df_10]

['Columbia', 'Dodge', 'Green', 'Iowa', 'Jefferson', 'Rock', 'Sauk']